{
  "env": {
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "globals": {
    "context": "readonly"
  },
  "extends": [
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "import/extensions": [
      "off"
    ],
    "no-continue": "off",
    "space-before-blocks": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ]
  },
  "overrides": [
    {
      "files": [
        "proxy/**/*"
      ],
      "parserOptions": {
        "project": "./proxy/tsconfig.json"
      }
    },
    {
      "files": [
        "server/**/*"
      ],
      "parserOptions": {
        "project": "./server/tsconfig.json"
      }
    }
  ]
}